<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <!-- custom stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/screen.css" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts/iconic-fill/font.css" />
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/corroborator.css" />-->
    <link rel="stylesheet" href="{{ STATIC_URL }}js/leafletjs/leaflet.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.2/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jwplayer/jwplayer.js"></script>


<link rel="stylesheet" href="{{ STATIC_URL}}css/jquery-ui-1.10.3.custom.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validationEngine-en.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validationEngine.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL}}css/validationEngine.jquery.css" />

<!-- <link href="{{ STATIC_URL }}js/video-js/video-js.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/video-js/video.js"></script>
<script>
  _V_.options.flash.swf = "{{ STATIC_URL }}js/video-js/video-js.swf"
</script>
-->
    <link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL}}css/timepicker/jquery-ui-timepicker-addon.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/timepicker/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/corroborator.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/extend-2.3.21.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/wireshop.js"></script>
<!--    <script type="text/javascript" src="{{ STATIC_URL }}js/linking.js"></script> -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/events.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/core/Core.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/core/AbstractManager.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/managers/Manager.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/core/Parameter.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/core/ParameterStore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax-manager.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/core/AbstractWidget.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/core/AbstractTextWidget.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/core/AbstractFacetWidget.js"></script>
    <script src="{{ STATIC_URL }}js/ajax-solr/lib/core/AbstractSpatialWidget.js"></script>
    <script src="{{ STATIC_URL }}js/widgets/SearchWidget.js"></script>
    <script src="{{ STATIC_URL }}js/widgets/SpatialSearchWidget.js"></script>
    <script src="{{ STATIC_URL }}js/widgets/EmbeddedSearchWidget.js"></script>
    <script src="{{ STATIC_URL }}js/widgets/CurrentFiltersWidget.js"></script>
    <script src="{{ STATIC_URL }}js/widgets/LabelsWidget.js"></script>
<script src="{{ STATIC_URL }}js/leafletjs/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/corroborator-map.js"></script>
<script src="{{ STATIC_URL }}js/corroborator-hash-link-reader.js"></script>

<script type="text/javascript">
jQuery(document).ready(function($){
        createFilterSearchMap('filter_map',33.87042, 35.85938);
});


</script>


<!-- bootstrap values -->
<script type="text/javascript" >
  var gl_ac_labels_list = [];
  {%for label in labels_set.all %}
    gl_ac_labels_list.push({
      label:"{{label.name_en}}",
      id:"{{label.id}}"
    });
  {% endfor%};

  var gl_ac_users_list = [];
  {%for user in users_set.all %}
    gl_ac_users_list.push({
      label:"{{user.username}}",
      id:"{{user.id}}"
    });
  {% endfor%}
  var gl_ac_crimes_list = [];
  {%for crime in crimes_set.all %}
    gl_ac_crimes_list.push({
       label:"{{crime.category_en}}",
       id:"{{crime.id}}"
    });
  {% endfor%}
  var special_global_ac_sources_list = [];
  {%for source in sources_set.all %}
    special_global_ac_sources_list.push({
      label:"{{source.name_en}}",
      id:"{{source.id}}"
    });
  {% endfor%}
  var gl_ac_loc_set = [];
  {%for loc in loc_set.all %}
    gl_ac_loc_set.push({
      name:"{{loc.name_en}}",
      latlng:"{{loc.latitude}},{{loc.longitude}}",
      count:"{{loc.count}}"
    }
  {% endfor%};
  var gl_ac_loc_ac_set = [];
  {%for loc in loc_set.all %}
    gl_ac_loc_ac_set.push({
      label:"{{loc.name_en}}",
      id:"{{loc.latitude}},{{loc.longitude}}"
    });
  {% endfor%};
</script>


    	<script type="text/javascript">
	

		jQuery(document).ready(function($){

		$('#confirm_dialog').dialog({
			autoOpen : false,
			model : true
		});
		corrob_util.loadEditableOverlay('','annotate');
			//Attach Search Location Filter to Bulletin
	if(gl_ac_loc_ac_set.length > 0){
		$('#bulletin-location-ac-filter').autocomplete({source: gl_ac_loc_ac_set,select: function(event, ui){

				solrSpatialSearch(ui.item.latlng);
                        }}).focus(function(){corrob_util.$(this).val('');});
		$('#bulletin-location-search-container').removeClass('hidden');
	}
			$('#bulletins-tab').click(function(){
				window.location.hash = '#Bulletin/tab';
				var current = corrob_util.$('.current > a > span > span').html();				
				$('.overlay:not(".hidden")').addClass(current+'-active').addClass('hidden');
				$('.Bulletins-active').removeClass('Bulletins-active').removeClass('hidden');
				$('.current').removeClass('current');
				$('.as-2:not(.hidden)').addClass('hidden');
				$('.is-bulletins').addClass('current');
				$('#bulletin-content').removeClass('hidden');
				$('.'+current.toLowerCase().slice(0,-1)+'-predefined').addClass('hidden');
				$('.bulletin-predefined').removeClass('hidden');

				corroborator.layout.relayout();
			});
			$('#incidents-tab').click(function(){
				var current = corrob_util.$('.current > a > span > span').html();				
				$('.overlay:not(".hidden")').addClass(current+'-active').addClass('hidden');
				$('.Incidents-active').removeClass('Incidents-active').removeClass('hidden');

				$('.current').removeClass('current');
				$('.as-2:not(.hidden)').addClass('hidden');
				$('.is-incidents').addClass('current');
				$('#incident-content').removeClass('hidden');
				$('.'+current.toLowerCase().slice(0,-1)+'-predefined').addClass('hidden');
				$('.incident-predefined').removeClass('hidden');

				corroborator.layout.relayout();
			});
			$('#actors-tab').click(function(){
				var current = corrob_util.$('.current > a > span > span').html();				
				$('.overlay:not(".hidden")').addClass(current+'-active').addClass('hidden');
				$('.Actors-active').removeClass('Actors-active').removeClass('hidden');

				$('.current').removeClass('current');
				$('.as-2:not(.hidden)').addClass('hidden');
				$('.is-actors').addClass('current');
				$('#actor-content').removeClass('hidden');
				$('.'+current.toLowerCase().slice(0,-1)+'-predefined').addClass('hidden');
				$('.actor-predefined').removeClass('hidden');

				corroborator.layout.relayout();
			});

		});

	</script>
  </head>

  <body class="use-base">
<div id="map_data_conduit"></div>
<div id="loadingSpinner" class="hidden">
<div id="fountainG">
<div id="fountainG_1" class="fountainG">
</div>
<div id="fountainG_2" class="fountainG">
</div>
<div id="fountainG_3" class="fountainG">
</div>
<div id="fountainG_4" class="fountainG">
</div>
<div id="fountainG_5" class="fountainG">
</div>
<div id="fountainG_6" class="fountainG">
</div>
<div id="fountainG_7" class="fountainG">
</div>
<div id="fountainG_8" class="fountainG">
</div>
</div>

</div>
    <div id="Application" lang="en" class="Application">
      <nav class="Header">
        <h1 class="title text T">Corroborator</h1>
        <ul class="user">
          <li class="hover-expandable">
            <a href="/home/" class="text T">{{username}}</a>
            <ul class="when-hover menu">
              <li>
                <a href="user-settings" class="text T">Settings</a>
              </li>
              <li>
                <a href="/logout/" class="text T">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="sections list-h">
          <li class="current">
            <a href="/corroborator/" class="text T">Search</a>
          </li>
          <li>
            <a href="/admin/" class="text T">Administration</a>
          </li>
          <li>
            <a href="monitoring" class="text T">Monitoring</a>
          </li>
          <li>
            <a href="monitoring" class="text T">Batch import</a>
          </li>
        </ul>
        <div class="clearer">&nbsp;</div>
      </nav>
      <div class="Content">
	{% block content %}
	{% endblock %}
      </div>
<script language="javascript" src="{{ STATIC_URL }}js/corroborator-util.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
		if(window.location.hash != ''){
			link_reader();
		}

});


</script>

    </div>
<div id="confirm_dialog" title="">
</div>
  </body>
</html>
