<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts/iconic-fill/font.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/screen.css" />


    <link rel="stylesheet" media="all" type="text/css" href="{{ STATIC_URL}}css/timepicker/jquery-ui-timepicker-addon.css" />
    <link rel="stylesheet" href="{{ STATIC_URL}}css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL}}css/validationEngine.jquery.css" />
    <script data-main="{{STATIC_URL}}js/loader" type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/components/requirejs/require.js"> </script>
    <script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/components/requirejs/require.js"/></script>
<!--    <script type="text/javascript" charset="utf-8">
      require.config({
          paths: {
              //Comment out this line to go back to loading
              //the non-optimized main.js source file.
              "main": "{{STATIC_URL}}js/dist/build"
          }
      });
      require(["main"]);
    </script>-->




<script type="text/javascript" >
  var Bootstrap = (function() {
    var gl_s3_aws_media_url = '{{ MEDIA_URL }}';
    var gl_ac_role_list = [];
    var gl_ac_relation_list = [];
    var gl_ac_crimes_list = [];
    var special_global_ac_sources_list = [];
    var gl_ac_loc_set = [];
    var gl_ac_loc_ac_set = [];
    var gl_ac_users_list = [];

    {%for role in role_status_set %}
      gl_ac_role_list.push({ role:"{{role}}"});
    {% endfor %}

    {% for relation in relation_status_set %}
      gl_ac_relation_list.push( {relation:"{{relation}}"} );
    {% endfor %};

    {%for label in labels_set.all %}
      gl_ac_labels_list.push({
        label:"{{label.name_en}}",
        id:"{{label.id}}"
      });
    {% endfor %}

    {%for user in users_set.all %}
      gl_ac_users_list.push({
        label:"{{user.username}}",
        id:"{{user.id}}"
      });
    {% endfor %}

    {%for crime in crimes_set.all %}
      gl_ac_crimes_list.push({
        label:"{{crime.category_en}}",
        id:"{{crime.id}}"
      });
    {% endfor %}

    {%for source in sources_set.all %}
      special_global_ac_sources_list.push({
        label:"{{source.name_en}}",
        id:"{{source.id}}"
      });
    {% endfor %}

    {%for loc in loc_set.all %}
      gl_ac_loc_set.push({
        name:"{{loc.name_en}}",
        latlng:"{{loc.latitude}},{{loc.longitude}}",
        count:"{{loc.count}}"
      });
    {% endfor %}

    {%for loc in loc_set.all %}
      gl_ac_loc_ac_set.push({
        label:"{{loc.name_en}}",
        id:"{{loc.latitude}},{{loc.longitude}}"
      });
    {% endfor %}

    //consolidate our init data under one variable
    return {
        gl_s3_aws_media_url: '{{ MEDIA_URL }}',
        gl_username: '{{username}}',
        gl_userid: '{{userid}}',
        gl_ac_role_list: gl_ac_role_list,
        gl_ac_relation_list: gl_ac_relation_list,
        gl_ac_crimes_list: gl_ac_crimes_list,
        special_global_ac_sources_list: special_global_ac_sources_list,
        gl_ac_loc_set: gl_ac_loc_set,
        gl_ac_loc_ac_set: gl_ac_loc_ac_set,
        gl_ac_users_list: gl_ac_users_list
    }

  }());
</script>

{% block script %}
{% endblock %}


  </head>


  <body class="use-base">
  {% block dialog %}
  {% endblock %}
    <!-- what is this used for? -->
    <div id="map_data_conduit"></div>

    <!-- our ... loading yokey -->
    <div id="loadingSpinner" class="hidden">
      <div id="fountainG">
        <div id="fountainG_1" class="fountainG"> </div>
        <div id="fountainG_2" class="fountainG"> </div>
        <div id="fountainG_3" class="fountainG"> </div>
        <div id="fountainG_4" class="fountainG"> </div>
        <div id="fountainG_5" class="fountainG"> </div>
        <div id="fountainG_6" class="fountainG"> </div>
        <div id="fountainG_7" class="fountainG"> </div>
        <div id="fountainG_8" class="fountainG"> </div>
      </div>
    </div>

    <div id="Application" lang="en" class="Application">
      <!-- top navigation area -->
      <nav class="Header">
        <h1 class="title text T">Corroborator</h1>
        <ul class="user">
          <li class="hover-expandable">
            <a href="/home/" class="text T">{{username}}</a>
            <ul class="when-hover menu">
              <li>
                <a href="user-settings" class="text T">Settings</a>
              </li>
              <li>
                <a href="/logout/" class="text T">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="sections list-h">
          <li class="current">
            <a href="/corroborator/" class="text T">Search</a>
          </li>
          <li>
            <a href="/admin/" class="text T">Administration</a>
          </li>
          <li>
            <a href="monitoring" class="text T">Monitoring</a>
          </li>
          <li>
            <a href="monitoring" class="text T">Batch import</a>
          </li>
        </ul>
        <div class="clearer">&nbsp;</div>
      </nav>
      <!-- end top navigation area -->

      <div class="Content">
      {% block content %}
      {% endblock %}
      </div>


    </div>
    <!-- end Application -->

    <!-- confirm_dialog used for jquery ui dialog i presume -->
    <div id="confirm_dialog" title="">
    </div>

  </body>
</html>
