{% extends "new_base.html" %}

{% block top_nav %}
  {% include "nav/top_menu.html" %}
{% endblock %}

{% block script %}

  {% include "includes/dev_script.html" %}
{% endblock %}

{% block content%}
<nav id="search-navigation">
  <div class="search">
    <!--search text field -->
    <input type="textfield" />
    <button class="do-clear">
      <span>&#x2713;</span>
    </button>
  </div>
  <!--end search text field -->

  <!-- dropdown combo box -->
  <div class='search-combo'>
  </div>
  <!-- end dropdown combo box -->

<!-- end search area -->

{% include "nav/tabs.html" %}
</nav>





<div id="incident-content" class="columns as-2">
  <!-- start first column -->
  <div class="col first has-header">
    <!-- header view appended here -->
    <div class="header search-header">
    </div>
    <!-- search-results view appended here -->
    <div class="body results-container" >
    </div>
  </div>
  <!-- end first column -->


  <div class="col last has-header right-filters"></div>
<div class="form_overlay"></div>
{% endblock %}
