{% extends "new_base.html" %}

{% block script %}
  <script type="text/javascript">
  var Bootstrap = Bootstrap || {};
  (function(Bootstrap) {
    var predefinedSearchList = [];
    {%for search in ps_list %}
    predefinedSearchList.push({
      id: {{search.id}},
      request: '{{search.search_request}}',
      name_en: '{{search.name_en}}',
      name_ar: '{{search.name_en}}',
      type: '{{search.search_type}}'
    });
    {%endfor%}
    Bootstrap.predefinedSearchList = predefinedSearchList;
    Bootstrap.username = '{{username}}';
    Bootstrap.apiKey = '{{api_key}}';

  }(Bootstrap));
  </script>
{% endblock %}

{% block dialog %}
  {% include 'jquery_ui_dialogs.html' %}
{% endblock %}

{% block content%}
<nav id="search-navigation">
  <div class="search">
    <!--search text field -->
    <input type="textfield" />
    <button class="do-clear">
      <span>&#x2713;</span>
    </button>
  </div>
  <!--end search text field -->

  <!-- dropdown combo box -->
  <div class='search-combo'>
  </div>
    <!-- end dropdown combo box -->

    <!-- save search -->
    <span id="predefined-search" class="hidden predefined">
      <input id="predfiend-search-name"class="w-30p"/>

      <!-- save search buttons -->
      <button id="save_current_search" class="do-search do-search-main is-default">
        <span class="text T">Save</span>
      </button>
      <button id="cancel_current_search" class="do-search do-search-main is-default">
        <span class="text T">Cancel</span>
      </button>

    </span>
    <!-- end save search -->

    <!-- search spinner -->
    <span id="main_spinner" class="hidden">
      <img style="z-index: 100; width: 24px; height: 24px; vertical-align: middle;" src="/static/images/ajax-loader.gif">
    </span>
    <!-- end search spinner -->
  <!-- end search area -->

  <div class="tabs">
    <ul>
      <li class="is-incidents">
        <a href="#tab/incident" id="incidents-tab">
          <span class="text">
            <span class="label T">Incidents</span>
            <span class="incident-count count"></span>
          </span>
        </a>
      </li>
      <li class="is-bulletins">
        <a id="bulletins-tab" href="#tab/bulletin">
          <span class="text">
            <span class="label T">Bulletins</span>
            <span class="bulletin-count count"></span>
          </span>
        </a>
      </li>

      <li class="is-actors">
        <a href="#tab/actor" id="actors-tab">
         <span class="text">
          <span class="label T">Actors</span>
          <span class="actor-count count"></span>
        </span>

      </a>
    </li>
  </ul>
  <div class="clearer">&nbsp;</div>
</div>
</nav>





<div id="incident-content" class="columns as-2">
  <!-- start first column -->
  <div class="col first has-header">
    <!-- header view appended here -->
    <div class="header search-header">
    </div>
    <!-- search-results view appended here -->
    <div class="body">
    </div>
  </div>
  <!-- end first column -->


  <div class="col last has-header">
  <!--
  <div class="header">
    <div class="padding">
      <div class="group is-creator">
        <button class="do-create-incident create">
          <span class="text T">New incident</span>
        </button>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="padding">
      <div class="group is-filters filters">
        <div class="filter is-labels">
          <label id="incident-selected-label" class="hidden">Current filters</label>
          <ul id="incident-selected-tags" class="tags editor">
          </ul>

        </div>
        <div class="filter">
          <label>Date Range</label>
          <div class="wrapper" style="position:relative;z-index:1;">
            <div id="incident-jrange" class="dates">
              <input id="incident_date_filter" value="yyyy/mm/dd - yyyy/mm/dd"/>
              <div></div>
            </div>
          </div>

        </div>


        <div class="filter">
          <label>Crime</label>
          <ul class="select" id="incident-crime-filter">
          </ul>
        </div>
        <div class="filter">
          <label>Assigned to</label>
          <ul class="select" id="incident-assigned-filter">
          </ul>
        </div>
        <div class="filter">
          <label>Status</label>
          <ul class="select" id="incident-status-filter">
            {% for status in statuses %}	
            <li class="option">
              <span class="incident-option text T">{{status.status_en}}</span>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="filter is-labels">
          <label>Labels</label>
          <ul id="incidents_tags" class="tags">
          </ul>
        </div>

        <div class="filter is-map">
          <label>Location</label>
          <div id="bulletin-location-search-container" class="field hidden">
            <input id="bulletin-location-ac-filter" type="text" class="with-clear" />
            <button class="do-clear">
              <span>&#x2713;</span>
            </button>
          </div>
          <div class="map">
            <div id="filter_map" style="width:100%;height:100%;"></div>
            <button class="do-filter">
              <span class="text T">Filter</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
-->
</div>
{% endblock %}
