{% extends "new_base.html" %}

{% load i18n %}

{% block top_nav %}
  {% include "nav/top_menu.html" with reporting=True %}
{% endblock %}

{% block script %}
  {% include "includes/reporting_bootstrap.html" %}
  {% include "includes/dev_reporting_script.html" %}
{% endblock %}

{% block content%}
<nav id="monitor-navigation">
  {% include "nav/reporting_tabs.html" %}
</nav>

<div id="reporting-content" class="columns as-2">
  <div class="col first"></div>
  <div class="col last right-filters">
    <div class="group is-filters filters graph-selector"></div>
  </div>
</div>
{% endblock %}
