@mixin clear_button($bg_color:#404040, $fg_color:#FFF) {
    text-shadow: none;
    border: 0px solid transparent;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: -7 * $PX;
    background: $bg_color;
    width: 12 * $PX;
    height: 12 * $PX;
    line-height: 0em;
    border-radius: 6 * $PX;
    > span {
      color: $fg_color;
      @include iconic_fill;
      position: relative;
      left: 0 * $PX;
      line-height: 12 * $PX / 0.7;
      font-size: 65%;
    }
}

@mixin button (
  $background_color: white,
  $hover_color: false,
  $border: none,
  $height: 3em,
  $text_color: black
) {
  text-transform:uppercase;
  background-color: $background_color;
  color: $text_color;
  height: $height;
  line-height: $height -0.05em;
  border: none;
  @if $hover_color == false {
    $hover_color: darken($background_color, 10%);
  }
  &:hover {
    background-color: $hover_color;
  }


}
@mixin button_icon(
){
  &:after {
    
  }
}

@mixin create_button ($bg_color:black) {
  @include button(
    $background_color: $bg_color,
    $text_color: #fff,
    $height: $ACTION_BAR_HEIGHT
  );
  width: 100%;
}

@mixin combo_small {
    position: relative;
    display: inline-block;
    padding-right: 2.5em;
    padding-left: 0.75em;
    min-width: 5em;
    > span:after {
      position: absolute;
      z-index: 3;
      display: block;
      top: 0em;
      bottom: 0em;
      right: 0em;
      width: 1.75em;
      line-height: 2.25em;
      text-align: center;
      content: '\2193';
      font-family: "IconicFill";
      border-left: 2px solid $COLOR_BUTTON_BD;
    }
    &:hover > span:after {
      display: none;
    }
    .options {
      display: none;
      position: absolute;
      padding-top: 0.5em;
      background: #d4d4d4;
      border-top: 0px solid transparent;
      z-index: $Z_MENU;
      text-align: left;
      li {
      };
    };
    &:hover .options {
      display: block;
      height: auto;
    }
    &.is-small {
      min-width: auto;
      .options {
        left: -1px;
        right: -1px;
        border-width: 0 1px 1px;
        li {
          margin: 0;
        };
      };
      span:after {
        display: none;
      }
    }
  }

  button.combo, .button.combo {
    @include combo_small;
  }

@mixin combo_large(
  $bg_color: #d4d4d4,
  $height: 2.25em,
  $width: 7em,
  $highlight_color: #d4d4d4,
  $border_color: #b4b4b4,
  $border_bottom: false
){
    position: relative;
    display: inline-block;
    min-width: $width;
    height: $height;
    line-height: $height;
    background-color: $bg_color;
    text-transform: uppercase;
    > span:after {
      position: absolute;
      z-index: 3;
      display: block;
      top: 0em;
      bottom: 0em;
      right: 0em;
      width: 1.75em;
      line-height: $height;
      text-align: center;
      content: '\2193';
      font-family: "IconicFill";
      border-left: 1px solid $border_color;
    }
    .options {
      display: none;
      position: absolute;
      left: 0px;
      right: 0px;
      background-color: $bg_color;
      @if $border_bottom {
        border-top: 1px solid $border_bottom;
      }
      z-index: $Z_MENU;
      text-align: left;
      li {
        margin:none;
        padding-left: 0.5em;
        padding-right: 0.5em;
        &:hover {
          background-color:$highlight_color;
        }
      };
    };
    &:hover .options {
      display: block;
      height: auto;
    }
}

  button, .button {
    display: inline-block;
    //padding: 3 * $PX;
    padding-left: 0.5em;
    padding-right: 0.5em;
    //border: 2px solid $COLOR_BUTTON_BD;
    //margin: 0em;
    //background: #e8e8e8;
    //@include background-image(linear-gradient(top, #e8e8e8, #d4d4d4));
    a, a:active, a:visited, a:hover {
      text-decoration: none;
      color: $COLOR_TXT;
    }
    //text-shadow: 1px 1px 1px $COLOR_BUTTON_BG.brighten(15)
    &:hover {
      //background: #fafafa;
      //@include background-image(linear-gradient(top, #FAFAFA, #d4d4d4));
    }
  }
  button.create.do-create-incident {
    @include create_button($bg_color:$SELECTED_INCIDENT_BORDER);
  }
  button.create.do-create-actor {
    @include create_button($bg_color:$SELECTED_ACTOR_BORDER);
  }
  button.create.do-create-bulletin {
    @include create_button(
      $bg_color:$SELECTED_BULLETIN_BORDER
    );
  }

  button.is-small,.button.is-small {
    padding: 3 * $PX;
    padding-top: 0em;
    padding-bottom: 0em;
    border-width: 1px;
    .text {
      font-size: 70%;
      text-transform: uppercase;
    };
  }
  button.do-clear {
    @include clear_button;
  }

