  button, .button {
    display: inline-block;
    padding: 3 * $PX;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 2px solid $COLOR_BUTTON_BD;
    //margin: 0em;
    border-radius: 4 * $PX;
    background: #e8e8e8;
    @include background-image(linear-gradient(top, #e8e8e8, #d4d4d4));
    a, a:active, a:visited, a:hover {
      text-decoration: none;
      color: $COLOR_TXT;
    }
    //text-shadow: 1px 1px 1px $COLOR_BUTTON_BG.brighten(15)
    &:hover {
      background: #fafafa;
      @include background-image(linear-gradient(top, #FAFAFA, #d4d4d4));
    }
  }
  button.create {
    background: #959595;
    @include background-image(linear-gradient(top, #959595, #696969));
    //text-shadow: -1px -1px 1px #959595.darken(15)
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  button.combo, .button.combo {
    position: relative;
    display: inline-block;
    padding-right: 2.5em;
    padding-left: 0.75em;
    min-width: 5em;
    > span:after {
      position: absolute;
      display: block;
      top: 0em;
      bottom: 0em;
      right: 0em;
      width: 1.75em;
      line-height: 2.25em;
      text-align: center;
      content: '\2193';
      font-family: "IconicFill";
      border-left: 2px solid $COLOR_BUTTON_BD;
    }
    &:hover > span:after {
      display: none;
    }
    .options {
      display: none;
      position: absolute;
      left: -2px;
      right: -2px;
      padding-top: 0.5em;
      background: #d4d4d4;
      border: 2px solid $COLOR_BUTTON_BD;
      border-top: 0px solid transparent;
      border-radius: 0em 0em 4 * $PX 4 * $PX;
      z-index: $Z_MENU;
      text-align: left;
      li {
        margin: 3 * $PX;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        .text:hover {
          color: $COLOR_OPTION_SELECTED_TXT;
        }
      };
    };
    &:hover .options {
      display: block;
      height: auto;
    }
    &.is-small {
      min-width: auto;
      .options {
        left: -1px;
        right: -1px;
        border-width: 0 1px 1px;
        li {
          margin: 0;
        };
      };
      span:after {
        display: none;
      }
    }
  }
  button.is-small,.button.is-small {
    padding: 3 * $PX;
    padding-top: 0em;
    padding-bottom: 0em;
    border-radius: 0.2em;
    border-width: 1px;
    .text {
      font-size: 70%;
      text-transform: uppercase;
    };
  }
  button.do-clear {
    text-shadow: none;
    border: 0px solid transparent;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: -7 * $PX;
    top: 1 * $PX;
    background: #404040;
    width: 12 * $PX;
    height: 12 * $PX;
    line-height: 0em;
    border-radius: 6 * $PX;
    > span {
      color: white;
      font-family: IconicFill, sans-serif;
      position: relative;
      top: -1 * $PX;
      left: 0 * $PX;
      line-height: 12 * $PX / 0.7;
      font-size: 65%;
    }
  }

