// styling for the data entry forms
.Application{ 
  input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $FONT_SIZE * 1px;
  line-height: 1.25em;
  background: white;
  @include box-sizing(border-box);
  }
}
// input borders
$COLOR_INPUT_BD: #ddd2c7;

input, textarea {
  border: 1px solid $COLOR_INPUT_BD;
  padding: 4 * $PX;
}
input {
  display: inline-block;
  &.is-label {
    //color: $COLOR_TXT.brighten(25)
 
  }
  &.with-select {
    //color: $COLOR_TXT.brighten(25)
 
  }
  &.with-clear {
    padding-right: 2em;
    margin-right: -1.5em;
  }
};
.date-range input{
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.message {
  border: 1px solid;
  height: 10px;
}
.fail {
  padding: $PAD_UNIT / 2;
  background-color: #ffeeee;
  border-color: #ff9999;
  color: #ff9999;
  display: none;
  &.show-message {
    display: block;
  }
}

.success {
  padding: $PAD_UNIT / 2;
  background-color: #eeffee;
  border-color: #99ff99;
  color: #55ff55;
  a {
    color: #55ff55;
    text-decoration: underline;
  }

  display: none;
  &.show-message {
    display: block;
  }
}

@mixin form_panel($top_border:grey) {
  border-top: 5px solid $top_border;
  border-left:1px solid #b7b6b2;
  border-right:1px solid #b7b6b2;
}
// BULLETIN FORM
.bulletin-overlay {
    @include form_panel($top_border:$SELECTED_BULLETIN_BORDER);
    &+div {
      @include form_panel($top_border:$SELECTED_BULLETIN_BORDER);
    }
}

.incident-overlay {
   @include form_panel($top_border:$SELECTED_INCIDENT_BORDER);
    &+div {
      @include form_panel($top_border:$SELECTED_INCIDENT_BORDER);
    }
}

.actor-overlay {
   @include form_panel($top_border:$SELECTED_ACTOR_BORDER);
    &+div {
      @include form_panel($top_border:$SELECTED_ACTOR_BORDER);
    }
}
