/*global $PAD_UNIT */
//Search area
#search-navigation .search {
  float: left;
  margin-bottom: -2px;
  margin-left: 3.07692307692em;
  margin-right: 3.07692307692em;
  input {
    font-size: 120%;
    min-width: 20em;
  }
}

nav {
  border-bottom: 1px solid #a0a0a0;
}

.do-search {
}
.incidents-list, .bulletins-list, .actors-list{
  .in-list {
    border: 1px solid #a0a0a0;
    padding: $PAD_UNIT/2;
  }
}

// COLUMNS
.columns.as-2 {
  width: 100%;
}

.col.first {
  position: fixed;
  top: $TOP_DIST_COLS;
  left: 0em;
  bottom: 0em;
  overflow: hidden;
  width: 66.66666%;
}

// ACTIONS BAR
.col.first .header {
  position: absolute;
  right: $PAD_UNIT;
  left: 2*$PAD_UNIT;
  top: 0em;
}

.results-body {
  bottom: 0em;
  overflow: auto;
  right: $PAD_UNIT;
  left: $PAD_UNIT;
  position: absolute;
  top: 85px;
}
.results-body  .padding {
    padding-left: $PAD_UNIT;
  }


// LAST COLUMN

.col.last {
  width: 33.333333%;
  right: 0em;
  position: fixed;
  bottom: 0em;
  top: $TOP_DIST_COLS;
  overflow: hidden;
}
.right-filters .header {
  left: $PAD_UNIT;
  right: 0em;
  position: absolute;
  top:0em;
}

.right-filters .body {
  left: $PAD_UNIT;
  right: 0em;
  overflow: auto;
  bottom: 0em;
  position: absolute;
}

.right-filters .body .padding{
  margin-right: 2* $PAD_UNIT;
}

.is-filters.filters {
  margin-bottom: $PAD_UNIT;
}

// VIEW - EXPANDED
.Bulletin.is-expanded .span-66p .body, 
.Incident.is-expanded .span-66p .body{
  padding-right: 2 * $PAD_UNIT;
}
