//Search area
#search-navigation .search {
  float: left;
  margin-bottom: -2px;
  margin-left: 3.07692307692em;
  margin-right: 3.07692307692em;
  input {
    font-size: 120%;
    min-width: 20em;
  }
}

nav {
  border-bottom: 1px solid #a0a0a0;
}

.do-search {
}
