@mixin tag_style {
  @include open_sans_semi_bold;
  color: $TAG_COLOR;
  border: 1px solid $TAG_COLOR;
  float: left;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}


.Application button.combo.invert:hover .options,
.Application .button.combo.invert:hover .options {
  display: block;
  height: auto;
  bottom:100%;
}
.Application button.combo.is-small,
.Application .button.combo.is-small {
  min-width: auto;
}

.Application button.combo.is-small .options,
.Application .button.combo.is-small .options {
  left: -1px;
  right: -1px;
  border-width: 0 1px 1px;
}

.Application button.combo.is-small .options li,
.Application .button.combo.is-small .options li {
  margin: 0;
}

.Application button.combo.is-small span:after,
.Application .button.combo.is-small span:after {
  display: none;
}

