
.Header {
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  z-index: $Z_HEADER;
  &, .menu {
    background: $COLOR_HEADER_BG;
    color: $COLOR_HEADER_TXT;
  }
  a, a:active, a:visited, a:hover {
    color: $COLOR_HEADER_TXT;
    text-decoration: none;
  }
  .title, .user, .sections {
    display: block;
    padding: $PAD_UNIT * 2;
    padding-top: $PAD_UNIT / 4;
    padding-bottom: $PAD_UNIT / 4;
  }
  .text {
    font-size: 90%;
  }
  .title {
    font-weight: bold;
    float: left;
  }
  ul.sections {
    float: right;
    li {
      padding-top: $PAD_UNIT / 4;
      padding-bottom: $PAD_UNIT / 4;
      opacity: 0.75;
      margin-right: $PAD_UNIT;
      &:hover {
        opacity: 1;
      }
      &.current {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
  ul.user {
    float: right;
    border-left: 1px solid $COLOR_HEADER_BD;
    padding-left: $PAD_UNIT;
    margin-left: $PAD_UNIT;
    position: relative;
    .menu {
      left: 0em;
      right: 0em;
      padding-left: $PAD_UNIT;
    }
  }
}
// ========================================================================
// SEARCH
// ========================================================================
nav {
  border-bottom: 1px solid $COLOR_HEADER_BD;
  .search {
    float: left;
    margin-top: -$PAD_UNIT /2;
    margin-bottom: 0em;
    margin-left: $PAD_UNIT * 2;
    input {
      font-size: 120%;
      min-width: 20em;
      padding-right: 2em;
      margin-right: -1.5em;
      display: inline-block;
    }
  }
}
.search-combo {
  position: relative;
  .button.do-search {
    top: -$PAD_UNIT /4;
    position: absolute;
  }
}

.tabs {
  ul {
    float: right;
    margin-right: $PAD_UNIT * 2;
  }
  li {
    float: left;
    display: block;
    border-top: 1px solid $COLOR_TAB_BD;
    margin-bottom: -1px;
    min-width: 70 * $PX;
    text-align: center;
    margin-left: $PAD_UNIT / 2;
    position: relative;
    z-index: 1;
    a {
      border-left: 1px solid $COLOR_TAB_BD;
      border-right: 1px solid $COLOR_TAB_BD;
      display: block;
    }
    .text {
      display: block;
      padding-bottom: 5px;
      padding-top: $PAD_UNIT / 4 / 1.1;
      padding-left: $PAD_UNIT / 1.1;
      padding-right: $PAD_UNIT / 1.1;
      border-top: 4 * $PX solid #e0e0e0;
      font-size: 110%;
      font-weight: bold;
      line-height: 1em;
    }
    .count {
      padding-left: 0.25em;
      opacity: 0.5;
    }
    &:first-child {
      margin-left: 0em;
    }
    &:hover, &.current {
      background: white;
    }
  }
}

