<nav class="Header">
  <h1 class="title text T">Corroborator</h1>
  <ul class="user">
    <li class="hover-expandable">
      <a href="/home/" class="text T">{{username}}</a>
      <ul class="when-hover menu">
        <li>
          <a href="user-settings" class="text T">Settings</a>
        </li>
        <li>
          <a href="/logout/" class="text T">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="sections list-h">
    <li class="current">
      <a href="/corroborator/" class="text T">Search</a>
    </li>
    <li>
      <a href="/admin/" class="text T">Administration</a>
    </li>
    <li>
      <a href="monitoring" class="text T">Monitoring</a>
    </li>
    <li>
      <a href="monitoring" class="text T">Batch import</a>
    </li>
  </ul>
  <div class="clearer">&nbsp;</div>
</nav>
