
<script type="text/javascript" >
    gl_ac_labels_list = [{%for label in labels_set.all %}{label:"{{label.name_en}}",id:"{{label.id}}"}{% if not forloop.last %},{% endif %}{% endfor%}];
    gl_ac_users_list = [{%for user in users_set.all %}{label:"{{user.username}}",id:"{{user.id}}"}{% if not forloop.last %},{% endif %}{% endfor%}];
    special_global_ac_sources_list = [{%for source in sources_set.all %}{label:"{{source.name_en}}",id:"{{source.id}}"}{% if not forloop.last %},{% endif %}{% endfor%}];
</script>
 <form id="bulletin_form" onsubmit="return false;">
	    <div class="Bulletin is-edited">
              <div class="col first span-66p hidden bulletin-expanded-edit">
                <div id="bulletin-header-expand" class="header">
                  
                  <div id="bulletin-title-expand" class="field is-title">
                    <label>Title</label>
                    
                  </div>
                </div>
                <div id="bulletin-body-expand" class="body">
                  
              </div>
	     </div>
              <div class="col last span-33p hidden bulletin-expanded-edit">
                <div id="bulletin-goup-expand" class="body">
                    
                </div>
              </div>


  <div id="bulletin-id-block-ne" class="header bulletin-not-expanded-edit">
    {% if bulletin_result %}
    <span id="bulletin-id-block" class="id">
      ID <span id="view_bulletin_id" class="value out">{{ bulletin_result.id }}</span>
    </span>
    {% endif %}
    <h2  class="title">
          <label>Title</label>
    <span id="bulletin-title-block" class="i18n with-en with-ar">
    <div lang="en">
    <textarea id="bulletin_title_en" type="text" class="validate[required] w-100p">{{bulletin_result.title_en}}</textarea></div>
    <div lang="ar">
    <textarea id="bulletin_title_ar" type="text" class="w-100p">{{bulletin_result.title_ar}}</textarea></div>
    <span class="toggle"><span lang="en">EN</span><span lang="ar">AR</span></span></span></h2>
  </div>
  <div id="bulletin-group-block-ne" class="body bulletin-not-expanded-edit">
    <div id="bulletin-group-block"  class="group details">
      <div class="field clear-after">
        <div id="bulletin-score-block" class="is-score right">
          <label>Score</label>
          <span  class="score">
	{% if bulletin_result.confidence_score and bulletin_result.confidence_score.strip  %}
            <span id="bulletin_confidence_score" class="value">{{bulletin_result.confidence_score}}</span>
	{% else %}
            <span id="bulletin_confidence_score" class="value">0</span>
	{% endif %}
            <div class="score-editor">

              <div class="rail">
	        <div class="slider"></div>	
                <!-- <div class="cursor">&nbsp;</div> -->
                <div class="axis">
                  <div class="start">
                    <span class="label">0%</span>
                  </div>
                  <div class="middle">
                    <span class="label">50%</span>
                  </div>
                  <div class="end">
                    <span class="label">100%</span>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>
        <div id="bulletin-assignment-block" class="is-assigned-to left">
          <label>Assigned to</label>
	{% if bulletin_result == None %}
	  <input id="user-ac-bulletin_{{userid}}" type="text" class="validate[required] with-clear" value="{{username}}"/> 
	{% else %}
	  <input id="user-ac-bulletin_{{bulletin_result.assigned_user.id}}" type="text" class="validate[required] with-clear" value="{{bulletin_result.assigned_user}}"/> 
	{% endif %}
          <button id="clear-user" class="do-clear">
            <span>&#x2713;</span>
          </button>
        </div>
      </div>
    </div>
    <div id="bulletin-source-block" class="field is-sources">
      <label>Sources</label>
      <ul class="sources editor">
	{% for source in bulletin_result.sources.all %}
        <li class="source" id="source_{{source.id}}">
          <span class="text">{{ source.name_en }}</span>
          <button class="do-clear">
            <span>&#x2713;</span>
          </button>
        </li>
	{% endfor %}
	<li class="source is-new">
		<input class="source-ac with-select" type="text" value="Source">
	</li>
      </ul>
    </div>
    <div id="bulletin-label-block" class="field is-tags">
      <label>Labels</label>
      <ul class="tags editor">
	{% for label in bulletin_result.labels.all %}
        <li id="bulletin_tag_{{label.id}}" class="tag">
          <span class="text">{{ label.name_en}}</span>
          <button class="do-clear">
            <span>&#x2713;</span>
          </button>
        </li>
	{% endfor %}
        <li class="tag is-new">
          <input type="text" value="Label" class="labels-ac with-select" />
        </li>
      </ul>
    </div>

    <div id="incident-comment-block" class="field is-comments">
      <label>Comments</label>
      <ul class="comments">
        {% for comment in bulletin_result.bulletin_comments.all%}
        <li class="comment comment-noneditable" id="incident_comment_{{comment.id}}">
<!--          <div class="actions">
            <button class="do-edit-comment is-small">
              <span class="text T">Edit</span>
            </button>
            <button class="do-remove is-small">
              <span class="text T">Remove</span>
            </button>
          </div> -->
          <div class="content">
            <div class="text">{{comment.comments_en}}</div>
            <div class="meta">
              <span class="date created">{{comment.comment_created|date:'Y-m-d H:i:s'}}</span> by <span class="who bulletin_comment_user_{{comment.assigned_user__id}}">{{ comment.assigned_user }}</span> <span class="bulletin_comment_status_{{comment.status__id}}"> - {{ comment.status }}</span>
            </div>
          </div>
          <div class="clearer">&nbsp;</div>
        </li>
        {% endfor %}
        <li class="comment is-new">
        <div id="incident-status-block" class="add">
          <label>Status</label>
          <br/>
          <select id="bulletin_status">

            <option value="Select status">Select Status</option>
                {% for status in status_set.all %}
                {% if status.status_en == bulletin_result.most_recent_status_bulletin %}

            <option selected value="{{status.id}}">{{ status.status_en }}</option>
                {%else%}
            <option value="{{status.id}}">{{ status.status_en }}</option>
                {%endif%} 
                {% endfor %}
          </select>
        </div>
       <div class="clearer"> </div>

          <div class="add">
            <label>Comment</label>
            <br/>
            <textarea type="text" class="w-100p comment-comment"></textarea>
          </div>
          <button class="do-addComment">
            <span class="T">Add comment</span>
          </button>
        </li>
      </ul>
    </div>
    <div id="bulletin-event-block" class="field is-events clear">
      <label>Events</label>
      <div class="date-duration">
       {{ time_string|safe}}
      </div>
      <ul class="events">
	{% for time in bulletin_result.times.all %}
        <li class="event" id="bulletin_event_{{time.id}}">
	<input class="bulletin_event_confidence_score" type="hidden" value="{{time.confidence_score}}"/>
	<input class="bulletin_event_comment" type="hidden" value="{{time.comments_en}}"/>

          <div class="actions">
            <button class="do-edit is-small">
              <span class="text T">Edit</span>
            </button>
            <button class="do-remove is-small">
              <span class="text T">Remove</span>
            </button>
          </div>
          <div class="content">
            <div class="name bulletin_event_name_en">{{time.event_name_en}}</div>
            <div class="time">
              from 
              <span class="bulletin_event_from start">{{time.time_from|date:'Y/m/d'}}</span> to  
              <span class="bulletin_event_to end">{{time.time_to|date:'Y/m/d'}}</span>
            </div>
          </div>
          <div class="clearer">&nbsp;</div>
	{% endfor %}
        </li>
<li class="event is-new">
              <div class="span-70p">
                <label>Description</label>
                <br>
                <input type="text" class="w-100p bulletin_event-description" />
              </div>
              <div class="clearer">&nbsp;</div>
              <div class="span-70p">
                <label>Comment</label>
                <br>
                <textarea class="w-100p bulletin_event-comment"></textarea>
              </div>
              <div class="clearer">&nbsp;</div>
              <div class="span-70p">
                <span class="score">
                  <span class="bulletin_event-cscore value"></span>
                </span>
                <label>Reliability score</label>
                <div class="score-editor">
                  <div class="rail">
	        <div class="slider"></div>	
                <!-- <div class="cursor">&nbsp;</div> -->

                    <div class="axis">
                      <div class="start">
                        <span class="label">0%</span>
                      </div>
                      <div class="middle">
                        <span class="label">50%</span>
                      </div>
                      <div class="end">
                        <span class="label">100%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearer">&nbsp;</div>
              <div class="span-30p">
                <label>From</label>
                <br>
                <input class="bulletin_event-from" type="text" />
              </div>
              <div class="span-30p">
                <label>To</label>
                <br>
                <input class="bulletin_event-to" type="text" />
              </div>
              <div class="span-30p">
                <label></label>
                <br>
                <div class="pad">
                  <button class="do-addEvent">
                    <span class="T">Add Event</span>
                  </button>
                </div>
              </div>
              <div class="clearer">&nbsp;</div>
            </li>
      </ul>
    </div>
    <div id="bulletin-location-block" class="field is-locations">
      <label>Locations</label>
      <ul class="locations locations-bulletin">
	{% for location in bulletin_result.locations.all %}
        <li class="location" id="bulletin_location_{{location.id}}">
          <div class="actions">
            <button class="do-edit is-small">
              <span class="text T">Edit</span>
            </button> 
            <button class="do-remove is-small">
              <span class="text T">Remove</span>
            </button> 
          </div>
          <div class="content">
            <div class="name">{{location.name_en}}</div>
          </div>
          <div class="clearer">&nbsp;</div>
        </li>
	{% endfor %}
        <li class="location is-new">
          <div class="search">
            <input type="text" class="with-clear" />
            <button class="do-clear">
              <span>&#x2713;</span>
            </button>
            <button class="do-search do-search-embedded locations">
              <span class="T">Search</span>
            </button>
          </div>
<!--          <button class="do-addLocation">
            <span class="T">Add location</span>
          </button> -->
        </li>
      </ul>
    </div>
    <div id="bulletin-media-block" class="field is-media">
      <div id="bulletin-video-player" clas="hidden"></div>	
      <div class="bulletin-preview preview"> </div>
      <label>Media</label>
	<div id="bulletin-media-search-block" class="search">
        <input type="text" class="with-clear" />
        <button class="do-clear">
          <span>&#x2713;</span>
        </button>
        <button class="do-search do-search-embedded medias">
          <span>Search</span>
        </button>
	<button class="do-search upload-media">
	  <span>Upload New Media</span>
	</button>
      </div>

      <ul class="bulletin-media media">
	{% for media in bulletin_result.medias.all %}
        <li  id="bulletin_media_{{media.id}}" class="medium">
	 <input type="hidden" value="{{media.media_file.name}}"/>
          <span class="type">{{bulletin_result.type}}</span>
<!--          <span class="date">2013/Apr/21</span> -->
          <span class="date">{{media.name_en}}</span>
          <button class="do-remove is-small">
             
            <span class="text">remove</span>
          </button>
	<button class="do-play is-small">
             
            <span class="text">play</span>
          </button>
        </li>
	{% endfor %}
      </ul>
      <div class="clearer">&nbsp;</div>
<!--      <div class="media editor">
        <div class="drop-target">Drag &amp; drop files here</div>
      </div>
      <button class="do-addMedia">
        <span class="T">Add media</span>
      </button> -->
    </div>
    <div id="bulletin-description-block" class="field is-description">
      <label>Description</label>
      <div  class="i18n with-en with-ar">
        <div lang="en">
          <textarea id="bulletin_description_en" type="text" class="w-100p">{{bulletin_result.description_en}}</textarea>
        </div>
        <div lang="ar">
          <textarea id="bulletin_description_ar" type="text" class="w-100p">{{bulletin_result.description_ar}}</textarea>
        </div>
        <span class="toggle">
          <span lang="en">EN</span><span lang="ar">AR</span>
        </span>
      </div>
    </div>
    <div id="bulletin-actor-list-block" class="field is-actors">
      <label>Actors</label>
      <div id="bulletin-actor-search-block" class="search">
        <input type="text" class="with-clear" />
        <button class="do-clear">
          <span>&#x2713;</span>
        </button>
        <button class="do-search do-search-embedded actors">
          <span>Search</span>
        </button>
      </div>
      <ul class="elements elements-bulletin">
	{%for role in bulletin_result.actors_role.all %}        
	<li id="bulletin_actor_{{role.actor.id}}">
          <div class="Actor in-list">
            <div class="when-hover">
              <div class="is-selector">
                <input type="checkbox" />
              </div>
            </div>
{% if role.actor.media == None %}
            <div class="avatar">&nbsp;</div>
            {% else %}
            <div class="avatar"><img src="{{ MEDIA_URL }}{{role.actor.media.media_file.name }}"/></div>

            {% endif %}
            <div class="content">
              <div class="L1">
                <div class="status">
                  <span class="value">{{role.role_status}}</span>
                </div>
                <span class="name">{{ role.actor.fullname_en }}</span>
                <span class="sex">{{ role.actor.sex_en }}</span>
                <span class="age">{{ role.actor.age_en }}</span>
                <div class="L2">
                  <span class="aka">aka &laquo;{{ role.actor.nickname_en }}&raquo;</span>
                </div>
              </div>
              <div class="when-not_expanded">
                <div class="L3">
                  lives in <span class="location">{{ role.actor.POB.name_en}}</span>, works as a <span class="occupation">{{ role.actor.occupation_en }}</span>
                  <br>involved in <span class="incidents-count">{{role.actor.count_incidents}} incidents</span>
                </div>
              </div>
              <div class="when-expanded">
                <table class="details">
                  <tr>
                    <th>Lives in</th>
                    <td>Damas</td>
                  </tr>
                  <tr>
                    <th>Born in</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Nationality</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Ethnicity</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Speaks</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Religion</th>
                    <td></td>
                  </tr>
                </table>
                <div class="stats">
                  <div class="is-mentions">
                    <h4 class="title">Mentioned in</h4>
                    <div class="stat">
                      <div class="value">{{role.actor.count_bulletins}}</div>
                      <div class="label">Bulletins</div>
                    </div>
                    <div class="stat">
                      <div class="value">{{role.actor.count_incidents}}</div>
                      <div class="label">Incidents</div>
                    </div>
                  </div>
<!--                  <div class="is-related">
                    <h4 class="title">Related to</h4>
                    <div class="stat">
                      <div class="value">25</div>
                      <div class="label">Actors</div>
                    </div>
                  </div> -->
                </div>
<!--                <div class="related">
                  Appears in related bulletins: <a href="#">Phasells ur nunc purus</a>, <a href="#">Vitae loboris nulla</a>, <a href="#">Aliquam erat volutpat</a>, <a href="#">Nam urna erat</a>, <a href="#">Lorem ipsum</a>.
                </div> -->
                <div class="actions">
                  <div class="button combo is-default">
                    <span class="T">Add as</span>
                    <ul class="options">
                      <li>
                         
                        <span class="text T">Witness</span>
                      </li>
                      <li>
                         
                        <span class="text T">Victim</span>
                      </li>
                      <li>
                         
                        <span class="text T">Killer</span>
                      </li>
                      <li>
                         
                        <span class="text T">Torturer</span>
                      </li>
                      <li>
                         
                        <span class="text T">Kidnapper</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="when-related">
                <div class="actions">
                  <div class="left">
                    <div class="button combo is-default">
                      <span class="T">
                        Related as: Victim 
                        <ul class="options">
                          <li>
                             
                            <span class="text T">Witness</span>
                          </li>
                          <li>
                             
                            <span class="text T">Victim</span>
                          </li>
                          <li>
                             
                            <span class="text T">Killer</span>
                          </li>
                          <li>
                             
                            <span class="text T">Torturer</span>
                          </li>
                          <li>
                             
                            <span class="text T">Kidnapper</span>
                          </li>
                        </ul>
                      </span>
                    </div>
                  </div>
                  <div class="right">
                    <button class="do-remove">
                      <span class="text T">Remove</span>
                    </button>
                  </div>
                  <div class="clearer">&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </li>
	{% endfor %}
      </ul>
<!--      <div class="drop-target">Drag &amp; drop actors here</div> -->
    </div>
<div id="bulletin-bulletin-block" class="field is-bulletins">
      <label>Related bulletins</label>
      <div class="search">
        <input type="text" class="with-clear" />
        <button class="do-clear">
          <span>&#x2713;</span>
        </button>
        <button class="do-search do-search-embedded bulletins">
          <span>Search</span>
        </button>
      </div>
      <ul class="elements elements-bulletins-bulletins">
	{% for bulletin in bulletin_result.ref_bulletins.all %}
        <li id="buletin_bulletin_{{bulletin.id}}">
          <div class="Bulletin in-list">
	   <div class="content">
            <div class="L1">
              <div class="meta">
                <div class="score">
                  <span class="value">{{bulletin.confidence_score}}</span>
                </div>
                <div class="status">
                  <span class="value">{{bulletin.most_recent_status_bulletin }}</span>
                </div>
              </div>
              <div class="title i18n">
                 
                <span lang="en">{{bulletin.title_en}}</span>
                <span lang="ar">{{bulletin.title_ar}}</span>
                <span class="toggle">
                  <span lang="en">EN</span><span lang="ar">AR</span>
                </span>
              </div>
            </div>
            <div class="L3">
              <div class="date-location">
		{{bulletin.get_time_length|safe}} in {% for location in bulletin.locations.all%}<span class="location">{{ location.name_en}}</span>{% if not forloop.last%},{%endif%}{% endfor %}
              </div>
              <div class="involved">
                <span class="actors-count">{{bulletin.actors_role.count}}</span> actors involved
              </div>
            </div>
		<div class="when-related">
                <div class="actions">
<div class="left">                    <button class="do-view">                      <span class="text T">View</span>                    </button>                  </div>
                  <div class="right">
                    <button class="do-remove">
                      <span class="text T">Remove</span>
                    </button>
                  </div>
                  <div class="clearer">&nbsp;</div>
                </div>
              </div>

          </div>
	 </div>
        </li>
	{% endfor%}
      </ul>
<!--      <div class="drop-target">Drag &amp; drop bulletins here</div> -->
    </div>

  </div>
</div>
</form>
