{% extends "base.html" %}

{% block content%}
<div style="margin-left:80px;margin-bottom:15px;">
	<h3>My Assigned Bulletins</h3>
</div>

<div style="height:300px;width:900px;margin-left:80px;margin-bottom:50px;overflow:auto;">
<div class="is-bulletins group">
                    <ul class="elements">
                       {% for bulletin in b.all %}
        <li id="incident_bulletin_{{bulletin.id}}">
          <div class="Bulletin in-list">
            <div class="L1">
              <div class="meta">
                <div class="score">
                  <span class="value">{{bulletin.confidence_score}}</span>
                </div>
                <div class="status">
                  <span class="value">{{bulletin.status}}</span>
                </div>
              </div>
              <div class="title i18n">

                <span lang="en">{{ bulletin.title_en}}</span>
                <span lang="ar">{{bulletin.title_ar}}</span>
                <span class="toggle">
                  <span lang="en">EN</span><span lang="ar">AR</span>
                </span>
              </div>
            </div>
            <div class="L3">
              <div class="date-location">
                {{bulletin.get_time_length|safe}} in {% for location in bulletin.locations.all%}<span class="location">{{ location.name_en}}</span>{% if not forloop.last%},{%endif%}{% endfor %}
              </div>
              <div class="involved">
                <span class="actors-count">{{bulletin.actors_role.count}}</span> actors involved
              </div>
</div>
<div class="when-related">
                <div class="actions">
                <div class="left">
                    <button class="do-view" onclick="location.href='/corroborator/#bulletin/{{bulletin.id}}/view/'">
                     <span class="text T"><a href="/corroborator/#bulletin/{{bulletin.id}}/view/">View</a></span>
                    </button>
                  </div>
                </div>
                <div class="clearer">&nbsp;</div>
               </div>
          </div>
        </li>
        {% endfor %}

                    </ul>
                  </div>
</div>
<div style="margin-left:80px;margin-bottom:15px;">
      <h3>My Assigned Incidents</h3>
</div>
<div style="height:300px;width:900px;margin-left:80px;margin-bottom:50px;overflow:auto;">
      <div class="incidents group">
      <ul class="elements">
        {% for incident in i.all %}
                <li >
                      <div class="Incident in-list">
                        <div class="L1">
                          <div class="meta">
                            <div class="score">
                              <span class="value">{{incident.confidence_score}}</span>
                            </div>
                            <div class="status">
                              <span class="value">{{incident.status}}</span>
                            </div>
                          </div>
                          <div class="title i18n">

                            <span lang="en">{{incident.title_en}}</span>
                            <span lang="ar">{{incident.title_ar}}</span>
                            <span class="toggle">
                              <span lang="en">EN</span><span lang="ar">AR</span>
                            </span>
                          </div>
                        </div>
                        <div class="L3">
                          <div class="date-location">
                {{incident.get_time_length|safe}} in {% for location in incident_result.locations.all%}<span class="location">{{ location.name_en}}</span>{% if not forloop.last%},{%endif%}{% endfor %}
                          </div>
                        </div>
<div class="when-related">
                <div class="actions">
                <div class="left">
                    <button class="do-view" onclick="location.href='/corroborator/#incident/{{incident.id}}/view/'">
                     <span class="text T"><a href="/corroborator/#incident/{{incident.id}}/view/">View</a></span>
                    </button>
                  </div>
                </div>
                <div class="clearer">&nbsp;</div>
               </div>
                      </div>
                    </li>
        {%endfor%}
        </ul>

  </div>
</div>

{% endblock%}
